<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <main></main>
    <footer>
        <div class="section_footer-logo">
            <img class="logo_footer"src="https://cdn2.excelsior.imagendigital.com/2021/theme/images/img-digital.svg" alt="logo imagen digital"/>
            <img 
            class="logo_footer" src="https://cdn.imagendigital.com/plugins/bottom/Logos/Actitudfem.svg" alt="logo actitud fem"/>
        </div>
        <div class="section_footer-conditions">
            <a href="#">Términos y Condiciones</a>
            <span class="pipe"></span>
            <a href="#">Aviso de privacidad</a>
            <span class="pipe"></span>
            <a href="#">Política Ambiental</a>
        </div>
        <div class="section_footer-list">
            <ul><strong>CANALES</strong>
               <li><a href="">ENTORNO</a></li>
               <li><a href="">BELLEZA</a></li>
               <li><a href="">MODA</a></li>
               <li><a href="">NOVIAS</a></li>
               <li><a href="">CELEBRIDADES</a></li>
               <li><a href="">AMOR PROPIO</a></li>
               <li><a href="">MUST</a></li>
               <li><a href="">HOGAR</a></li>
               <li><a href="">JUEGOS</a></li>
               <li><a href="">MANIFIESTO</a></li>
            </ul>
        </div>
        <div class="section_footer-slider">
            <button><</button>
            <button>></button>
        </div>
        <div class="section_footer-rights">
            <p>2023 Imagen Digital. Todos los derechos reservados. Prohibida la reproducción total o parcial, incluyendo cualquier medio electrónico o magnético</p>
            <div class="container_logos">
                <img class="logo_footer" src="https://cdn.imagendigital.com/plugins/bottom/Logos/hcYellow.png" alt="logo web acces">
                <img class="logo_footer" src="https://cdn.imagendigital.com/plugins/bottom/Logos/life.png" alt="logo lifestyle">
                <img class="logo_footer"src="https://cdn.imagendigital.com/plugins/bottom/Logos/esr_blanco.svg" alt="logo lifestyle">
            </div>
            
        </div>
    </footer>
</body>
</html>