<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav class="nav_bar">
            <div class="nav_logo">
                <img class="nav_logo_img" src="../public/images/logo-actitudfem.jpg" alt="">
            </div>
            <div class="nav_hamburguer">
                <input id="line"class="lines" type="checkbox"/>
                <label for="line" class="toggle-button">☰</label>
               
            </div>

        </nav>
    </header>
    <main></main>
    
</body>
</html>